# Application Configuration
APPLICATION_MODE=development
APPLICATION_NAME=Docffy
APP_KEY=Docffy
HOST=http://localhost
PORT=8080

# Database Configuration
DATABASE_URL=./mydb.db

# Email Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_AUTH=PLAIN
MAIL_FROM_ADDRESS=
MAIL_CONTACT_ADDRESS=

# AWS S3 Configuration
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=sa-east-1
S3_BUCKET_NAME=

# Receita Federal Hub Desenvolvedor
HUB_DEVSENVOLVEDOR_API=
HUB_DEVSENVOLVEDOR_TOKEN=

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET= 