{{ define "client-form" }}
<div class="modal" id="clientModal" tabindex="-1" aria-labelledby="clientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="client-form" action="/client/update/{{.ID}}" method="post">
          <div class="mb-3">
            <label for="name" class="col-form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ .Data.Form.Name }}" />
            {{with .Data.Errors.Name}}
            <p class="text-danger">{{.}}</p>{{end}}
          </div>
          <div class="mb-3">
            <label for="cpf" class="col-form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" value="{{ .Data.Form.CPF }}" />
            {{with .Data.Errors.CPF}}
            <p class="text-danger">{{.}}</p>{{end}}
          </div>
          <div class="mb-3">
            <label for="cpf" class="col-form-label">Data Nascimento</label>
            <input type="text" class="form-control" id="data_nascimento" name="data_nascimento" value="{{ .Data.Form.DataNascimento }}" />
            {{with .Data.Errors.Birthdate}}
            <p class="text-danger">{{.}}</p>{{end}}
          </div>
          <div class="mb-3">
            <label for="Email" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ .Data.Form.Email }}" />
            {{with .Data.Errors.Email}}
            <p class="text-danger">{{.}}</p>{{end}}
          </div>
          <div class="mb-3">
            <label for="phone" class="col-form-label">Telefone</label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{ .Data.Form.Phone }}" />
            {{with .Data.Errors.Phone}}
            <p class="text-danger">{{.}}</p>{{end}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button form="client-form" type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const clientForm = document.getElementById("client-form")
    const urlParams = new URLSearchParams(window.location.search);

    var clientModal = document.getElementById("clientModal");

    var myModal = new bootstrap.Modal(document.getElementById('clientModal'));

    if (urlParams.has('modal') && urlParams.get('modal') === 'clientModal') {
      myModal.show()
      console.log("Abrindo Modal")
    }

    clientModal.addEventListener("show.bs.modal", function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget;
      if (button.getAttribute('id') == "btn-create-client") {
        clientForm.setAttribute("action", "/client")
      } else {

        // Extract info from data-bs-* attributes
        var title = button.hasAttribute("data-bs-title")
          ? button.getAttribute("data-bs-title")
          : "Default Title";
        var id_data = button.getAttribute("data-bs-id");
        var name_data = button.getAttribute("data-bs-name");
        var cpf_data = button.getAttribute("data-bs-cpf");
        var email_data = button.getAttribute("data-bs-email");
        var phone_data = button.getAttribute("data-bs-phone");

        var modalTitle = clientModal.querySelector(".modal-title");
        // Removed modalBodyInput as there is no input element inside the modal body
        // var id = document.getElementById("id");
        var name = document.getElementById("name");
        var cpf = document.getElementById("cpf");
        var email = document.getElementById("email");
        var phone = document.getElementById("phone");

        modalTitle.textContent = title || "Default Title";
        // Removed modalBodyInput assignment as it is not applicable
        // id.value = id_data
        name.value = name_data
        cpf.value = cpf_data
        email.value = email_data
        phone.value = phone_data;
        clientForm.setAttribute("action", `/client/update/${id_data}`)

        history.replaceState(null, '', '?' + "modal=" + "clientModal");
      }
    });

    clientModal.addEventListener("hide.bs.modal", function (event) {
      history.replaceState(null, '', window.location.pathname);
      var validationMessage = document.querySelectorAll("p.text-danger")
      validationMessage.forEach(el => el.remove())
    });
  });
</script>
{{ end }}