{{define "title"}}Billing | Dash UI{{end}}
{{define "content"}}
<!-- Error page -->
<div class="container min-vh-100 d-flex justify-content-center
      align-items-center">
  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-12">
      <!-- content -->
      <div class="text-center">
        <!-- text -->
        <h1 class="display-4 fw-bold">Oops! You do not access for this content</h1>
        <p class="mb-4">Or simply leverage the expertise of our consultation
          team.</p>
        <!-- button -->
        <a href="/" class="btn btn-primary">Go Home</a>
      </div>
    </div>
  </div>
</div>
{{end}}