{{ define "title" }} Ebooks {{ end }}
{{ define "content" }}
<!-- Container fluid -->
<div class="container-fluid p-6">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div class="border-bottom pb-4 mb-4 ">
        <h3 class="mb-0 fw-bold">Cadastro de Ebook</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="card">
        <div class="card-body">
          <form id="ebook-form" action="/ebook/create" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="ebookTitle" class="form-label">Título do Ebook</label>
              <input type="text" class="form-control" id="ebookTitle" name="title"
                placeholder="Digite o título do ebook" required value="{{.Form.Title}}">
              {{with .Errors.Title}}<p class="text-danger">{{.}}</p>{{end}}
            </div>
            <div class="mb-3">
              <label for="ebookDescription" class="form-label">Descrição</label>
              <textarea class="form-control" id="ebookDescription" name="description" rows="3"
                placeholder="Digite a descrição do ebook" required>{{.Form.Description}}</textarea>
              {{with .Errors.Description}}<p class="text-danger">{{.}}</p>{{end}}
            </div>
            <div class="mb-3">
              <label for="ebookPrice" class="form-label">Valor</label>
              <input type="text" class="form-control" id="ebookPrice" name="value" placeholder="Digite o valor do ebook"
                maxlength="15" max="100000" required value="{{.Form.Value}}">
              {{with .Errors.Value}}<p class="text-danger">{{.}}</p>{{end}}
            </div>
            <div class="mb-3">
              <label for="ebookFile" class="form-label">Arquivo do Ebook</label>
              <input id="ebookFile" type="file" class="form-control" name="file" accept=".pdf,.epub" required>
              {{with .Errors.File}}<p class="text-danger">{{.}}</p>{{end}}
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a class="btn btn-secondary" href="/ebook" role="button">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const priceInput = document.getElementById('ebookPrice');

  priceInput.addEventListener('input', () => {
    let value = priceInput.value.replace(/\D/g, '');
    value = (value / 100).toFixed(2).replace('.', ',');
    value = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
    priceInput.value = `R$ ${value}`;
  });

  const form = document.getElementById("ebook-form")
  form.onsubmit(e => {
    e.preventDefault
    console.log("Prevent default")
  })
</script>
{{end}}