<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">

    <!-- Libs CSS -->
    <link href="/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/libs/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="/assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="/assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.min.css">
    <title>{{ template "title" .}}</title>
</head>

<body class="bg-light">
    {{ if .Flash}}
    <div class="toast-container position-absolute top-0 end-0 p-3 z-3">
        <div class="toast align-items-center text-white bg-{{.Flash.Type}} border-0" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{.Flash.Message}}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>
    {{ end }}
    <div id="db-wrapper">
        <!-- navbar vertical -->
        <!-- Sidebar -->
        <nav class="navbar-vertical navbar">
            <div class="nav-scroller">
                <!-- Brand logo -->
                {{ template "logo" .}}
                <!-- Navbar nav -->
                <ul class="navbar-nav flex-column" id="sideNavbar">
                    <li class="nav-item">
                        <a class="nav-link has-arrow" href="/dashboard">
                            <i data-feather="home" class="nav-icon icon-xs me-2"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="navbar-heading">Administração</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link has-arrow" href="/ebook">
                            <i data-feather="book" class="nav-icon icon-xs me-2"></i> Ebooks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link has-arrow" href="/client">
                            <i data-feather="users" class="nav-icon icon-xs me-2"></i> Clientes
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- Page content -->
        <div id="page-content">
            <div class="header @@classList">
                <!-- navbar -->
                <nav class="navbar-classic navbar navbar-expand-lg">
                    <a id="nav-toggle" href="#"><i data-feather="menu" class="nav-icon me-2 icon-xs"></i></a>
                    <!--Navbar nav -->
                    <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
                        <!-- List -->
                        <li class="dropdown ms-2">
                            <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="rounded-circle bg-light p-2">{{user.GetInitials}}</div>
                                <!-- <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img alt="avatar" src="/assets/images/avatar/avatar.jpg" class="rounded-circle" />
                                </div> -->
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                                <div class="px-4 pb-0 pt-2">
                                    <div class="lh-1 ">
                                        <h5 class="mb-1"> {{user.Username}}</h5>
                                        <span class="text-secondary fs-6">{{user.Email}}</span>
                                    </div>
                                    <div class=" dropdown-divider mt-3 mb-2"></div>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <form method="post" action="/logout">
                                            <button class="dropdown-item" type="submit"><i
                                                    class="me-2 icon-xxs dropdown-item-icon"
                                                    data-feather="power"></i>Sair</button>
                                        </form>
                                    </li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            {{ template "content" .}}
        </div>
    </div>
    <!-- Scripts -->
    <!-- Libs JS -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/libs/feather-icons/dist/feather.min.js"></script>
    <script src="/assets/libs/prismjs/prism.js"></script>
    <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="/assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

    <!-- Theme JS -->
    <script src="/assets/js/theme.min.js"></script>
    <script>
        // Active link
        const currentPathname = "/" + window.location.pathname.split('/')[1]
        links = Array.from(document.querySelectorAll('a.nav-link'))
        const a = links.find(element => {
            return element.pathname === currentPathname;
        });
        if (a) {
            a.classList.add('active');
        }

        // Initialize all toasts on the page
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        });

        // Show all toasts
        toastList.forEach(toast => toast.show());
    </script>
</body>

</html>