{{ define "title"}}Redefinir senha | {{ appName }} {{ end }} {{ define
"content" }}
<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
      <!-- Card -->
      <div class="card smooth-shadow-md">
        <!-- Card body -->
        <div class="card-body p-6">
          <div class="mb-4">
            <div class="mb-4" href="/">{{ template "logo" .}}</div>
            <div class="text-center mb-4">
              <i class="fas fa-lock fa-2x text-primary mb-3"></i>
              <h2 class="mb-3">Redefinir senha</h2>
              <p class="mb-6">
                Digite sua nova senha abaixo.
              </p>
            </div>
          </div>
          <!-- Form -->
          <form method="POST">
            <input type="hidden" name="token" value="{{.Token}}" />
            
            <!-- Password -->
            <div class="mb-3">
              <label for="password" class="form-label">
                <i class="fas fa-lock me-2"></i>Nova senha
              </label>
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                placeholder="Digite sua nova senha"
                required=""
                minlength="6"
              />
            </div>
            
            <!-- Password Confirmation -->
            <div class="mb-3">
              <label for="password_confirmation" class="form-label">
                <i class="fas fa-check-circle me-2"></i>Confirmar nova senha
              </label>
              <input
                type="password"
                id="password_confirmation"
                class="form-control"
                name="password_confirmation"
                placeholder="Confirme sua nova senha"
                required=""
                minlength="6"
              />
            </div>
            
            <!-- Button -->
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-save me-2"></i>Redefinir senha
              </button>
            </div>
            <div class="text-center">
              <span>Lembrou sua senha? <a href="/login">Fazer login</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }} 