{{ define "title" }}
{{.Title}}
{{ end }}
{{ define "content" }}
    <h1>Redefina sua senha</h1>
    <p>Olá {{.Name}},</p>
    <p>Recebemos uma solicitação para redefinir sua senha. Se você não fez essa solicitação, pode ignorar este email.</p>
    <p>Para redefinir sua senha, clique no botão abaixo:</p>
    <a href="{{.ResetLink}}" class="button">Redefinir Senha</a>
    <p>Se o botão acima não funcionar, copie e cole o seguinte link no seu navegador:</p>
    <p><a href="{{.ResetLink}}">{{.ResetLink}}</a></p>
{{ end }}