{{ define "client-import-form" }}
<div class="modal fade" id="importClientModal" tabindex="-1" aria-labelledby="importClientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importClientModalLabel">Importar Clientes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="import-client-form" action="/import-client" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="name" class="col-form-label">Arquivo de importação</label>
            <input type="file" class="form-control" id="file" name="file" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Importar</button>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = () => {
    var importClientModal = document.getElementById("importClientModal");
    importClientModal.addEventListener("show.bs.modal", function (event) {
      var button = event.relatedTarget;
      var title = button.getAttribute("data-bs-title");
      var modalTitle = importClientModal.querySelector(".modal-title");

      modalTitle.textContent = title;
    });
  };
</script>
{{ end }}