{{ define "modal" }}
<div class="modal fade" id="{{template "modal-id".}}" tabindex="-1" aria-labelledby="{{template "modal-id".}}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{template "modal-id".}}Label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ template "modal-body" .}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{template "label-btn-dismiss" .
                    }}</button>
                <button type="button" class="btn btn-primary">{{template "label-btn-confirm" .
                    }}</button>
            </div>
        </div>
    </div>
</div>
{{ end }}